html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #337AB7;
    padding: 20px;
    color: #337AB7;
}

.popup-form {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    border: 1px solid #337AB7;
    padding: 20px;
    color: #337AB7;
}
.popup-content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.cl-btn-2 {
    margin: 20px;
    display: flex;
    justify-content: flex-end; /* изменяем горизонтальное выравнивание на правое */
}

.cl-btn-2 {
    margin: 10px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 350px;
}

    .cl-btn-2 div {
        cursor: pointer;
        position: relative;
        height: 34px;
        width: 25px;
    }

    .cl-btn-2 .leftright {
        height: 2px;
        width: 25px;
        position: absolute;
        margin-top: 12px;
        background-color: #337AB7;
        border-radius: 2px;
        transform: rotate(45deg);
        transition: all .3s ease-in;
    }

    .cl-btn-2 .rightleft {
        height: 2px;
        width: 25px;
        position: absolute;
        margin-top: 12px;
        background-color: #337AB7;
        border-radius: 2px;
        transform: rotate(-45deg);
        transition: all .3s ease-in;
    }

    .cl-btn-2 .close-btn {
        margin: 27px 0 0 -2px;
        position: absolute;
        color: #337AB7;
        font-family: Tahoma, sans-serif;
        font-size: 6.5px;
        font-weight: bold;
        text-transform: uppercase;
        transition: all .3s ease-in;
        opacity: 0;
    }

    .cl-btn-2 div:hover .leftright {
        transform: rotate(-45deg);
        background-color: #000;
    }

    .cl-btn-2 div:hover .rightleft {
        transform: rotate(45deg);
        background-color: #000;
    }

    .cl-btn-2 div:hover .close-btn {
        opacity: 1;
    }


.ico-btn {
    position: absolute;
    display: flex;
    transform: translate(-70%, 10%);
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all .20s cubic-bezier(0.4, 0.0, 0.2, 1);
    /*   border: 2px solid; */
}

.ico-btnplus {
    width: 16px;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    ;
}

    .ico-btnplus::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 2px;
        background: currentColor;
        border-radius: 2px;
        transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
        transform: rotate(90deg);
    }

.ico-btn.is-active .ico-btn__plus {
    transform: rotate(225deg);
}

.ico-btn {
    position: absolute;
    display: flex;
    transform: translate(-70%, 10%);
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all .20s cubic-bezier(0.4, 0.0, 0.2, 1);
    /*   border: 2px solid; */
}

.ico-btn__plus {
    width: 16px;
    height: 2px;
    background: currentColor;
    border-radius: 2px;
    transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
    ;
}

    .ico-btn__plus::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 2px;
        background: currentColor;
        border-radius: 2px;
        transition: all .25s cubic-bezier(0.4, 0.0, 0.2, 1);
        transform: rotate(90deg);
    }

.ico-btn.is-active .ico-btn__plus {
    transform: rotate(225deg);
} 



table {
    border-collapse: collapse;
    margin: 0 auto;
    color: #337AB7;
}


.event-cell {
    border: 1px solid #337AB7;
    padding: 10px;
    text-align: left;
    width: 140px;
    height: 120px;
}

    .event-cell:hover {
        cursor: pointer;
    }

h1 {
    text-align: center;
    color: #337AB7;
}