@model List<DAY>
@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>

    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Подключение jQuery UI -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">


 <script>
  function showPopup(eventText) {
    var popup = $('#popup');
    popup.find('.popup-content').empty();
    // Разбиваем текст на строки по символу переноса строки
    var lines = eventText.split('\n');
    // Итерируемся по каждой строке и добавляем ее в popup-content
    for (var i = 0; i < lines.length; i++) {
        popup.find('.popup-content').append('<div class="popup-line">' + lines[i] + '</div>');
    }
    popup.find('.popup-content').append('<div class="cl-btn-2"> <div> <div class="leftright"></div> <div class="rightleft"></div> <span class="close-btn">закрыть</span></div> </div>');
    popup.find('.popup-content').append('  <div class="ico-btn"> <span class="ico-btn__plus"></span> </div>');
    popup.css('display','block');
    popup.find('.cl-btn-2').click(function () {
        popup.css('display', 'none');
    });
    popup.find('.ico-btn').click(function () {
      $(this).toggleClass('is-active');
     //popup.css('display', 'none');
      showForm();
    });
  }
        function showForm() {
            var formPopup = $('<div class="popup-form">');
            formPopup.append('<div class="cl-btn-2"> <div> <div class="leftright"></div> <div class="rightleft"></div> <span class="close-btn">закрыть</span></div> </div>');
            formPopup.append('<form id="myForm" method="post" action="/Home/Input_Db"><input type="hidden" name="constValue" value="Май"> <input type="hidden" name="constValue" value="Май"> <label for="input1">Input 1:</label> <input type="text" name="input1" id="input1"> <label for="input2">Input 2:</label> <input type="text" name="input2" id="input2"> <button type="submit">Submit</button></form>');
            $('body').append(formPopup);
            formPopup.css('display', 'block');
            formPopup.find('.cl-btn-2').click(function () {
                formPopup.remove();
            });
        }


</script>


   
<link href="site.css" rel="stylesheet" />
</head>
<body>
   
    <div id="popup" class="popup">
        <div class="popup-content">
        
            <div class="cl-btn-2">
                <div>
                    <div class="leftright"></div>
                    <div class="rightleft"></div>
                    <span class="close-btn">закрыть</span>
                </div>
            </div>

            <div class="ico-btn">
                <span class="ico-btn__plus"></span>
            </div>


        </div>
    </div>

    <h1>Календарь событий на месяц</h1>
    <table>

       
        <thead>
            <tr>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
        </thead>
        <tbody>
            @{
                var counter = 0;
                string s ="";
                string s1 = "";
            }
           @for (int i = 0; i < 4; i++)
           {
                <tr>
                    @for (int j = 0; j < 7; j++)
                    {   
                        s ="";
                        @for (int k = 0; k < Model[i*7+j].Events.Count; k++)
                        {
                            s += Model[i * 7 + j].Events[k].Name+"/n";
                        }
                        s1 = s;

                        <td class="event-cell" onclick="showPopup('@s.Replace("/n", "<br>")')">@Html.Raw( @s.Replace("/n", "<br>"))</td>
                    }

                </tr>
           }
           
   
        </tbody>
    </table>
</body>
</html>


