@model DAY
@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>

    <!-- Подключение jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <!-- Подключение jQuery UI -->
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">


  <script>
  function showPopup(eventText) {
    var popup = $('#popup');
    popup.find('.popup-content').text(eventText);
    popup.find('.popup-content').append('<div class="cl-btn-2"><div><div class="leftright"></div><div class="rightleft"></div><span class="close-btn">закрыть</span></div></div>');
    popup.css('display','block');
    popup.find('.cl-btn-2').click(function () {
        popup.css('display', 'none');
    });
    }
</script>


   
<link href="site.css" rel="stylesheet" />
</head>
<body>
    <div id="popup" class="popup">
        <div class="popup-content">
        
            <div class="cl-btn-2">
                <div>
                    <div class="leftright"></div>
                    <div class="rightleft"></div>
                    <span class="close-btn">закрыть</span>
                </div>
            </div>
        </div>
    </div>

    <h1>Календарь событий на месяц</h1>
    <table>
        <thead>
            <tr>
                <th>Пн</th>
                <th>Вт</th>
                <th>Ср</th>
                <th>Чт</th>
                <th>Пт</th>
                <th>Сб</th>
                <th>Вс</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="event-cell" onclick="showPopup('@Model.Events[0].Name')"><br>@Model.Events[0].Name</td>
                <td class="event-cell"></td>
                <td class="event-cell"></td>
                <td class="event-cell"></td>
                <td class="event-cell"></td>
                <td class="event-cell"></td>
                <td class="event-cell"></td>
            </tr>
   
        </tbody>
    </table>
</body>
</html>


